AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

DATABASE_URL=
AUTH_SECRET=


LEMON_SQUEEZY_API=your_actual_lemon_squeezy_api_key_starting_with_Bearer_
LEMON_SQUEEZY_STORE_ID=your_actual_store_id_as_a_number
LEMON_SQUEEZY_PRODUCT_ID=your_actual_product_id_as_a_number
NEXT_PUBLIC_APP_URL=http://localhost:3000 # or your deployed URL like https://yourdomain.com
LEMON_SQUEEZY_WEBHOOK_SIGNATURE=your_webhook_secret_from_lemonsqueezy